.main_chat
  .main_chat__groupinfo
    .main_chat__groupinfo__left
      %p.main_chat__groupinfo__left__currentgroup
        = @group.name
      %ul.main_chat__groupinfo__left__currentgroup__user
        - @group.group_users.each do |group_user|
          = group_user.user.name

    .main_chat__groupinfo__right
      = link_to edit_group_path(@group) , class: "btn-edit" do
        Edit
    
  .main_chat__messagelist
    .main_chat__messagelist__contents
      .main_chat__messagelist__contents__info
        .main_chat__messagelist__contents__info__talker
          あ
        .main_chat__messagelist__contents__info__date
          2020/2/20
      .main_chat__messagelist__contents__text
        アイウエオ
  
  .main_chat__messageform
    = form_for [@group, @message] do |f|
      .main_chat__messageform__box
        .main_chat__messageform__box__type
          = f.text_field :content, class: 'type__text', id: "message-content",placeholder: 'type a message'
          .main_chat__messageform__box__type__image
            = f.label :image, class: 'input-box__image' do
              /%label{class: "input-box__image", for: "image"}
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main_chat__messageform__box__right'
 